@import "../../styles/variables";
@import "../../styles/mixins";

.error-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 288px;
    font-weight: 700;
    color: $primary-color;
    margin-top: 139px;

    @include tablet {
      font-size: 150px;
      margin-top: 113px;
    }
    @include mobile {
      font-size: 96px;
    }
  }

  p {
    font-size: 36px;
    font-weight: 500;
    color: $primary-color;
    margin-top: 139px;
    text-align: center;

    @include tablet {
      font-size: 24px;
      margin-top: 113px;
      width: 80%;
    }
    @include mobile {
      font-size: 18px;
    }
  }

  a {
    font-weight: 500;
    margin-top: 139px;
    margin-bottom: 89px;
    text-decoration: underline;

    @include tablet {
      font-size: 16px;
      margin-top: 113px;
      margin-bottom: 86px;
    }
    @include mobile {
      font-size: 14px;
    }
  }
}
