@import "../../styles/variables";
@import "../../styles/mixins";

.property-carousel {
  margin-top: 50px;
  margin-bottom: 30px;
  position: relative;

  @include tablet {
    margin-top: 27px;
    margin-bottom: 5px;
  }

  img {
    height: 415px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;

    @include tablet {
      height: 255px;
      border-radius: 10px;
    }
  }

  .chevrons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: $text-second-color;
    font-size: 90px;
    padding: 25px;
    border-radius: none;

    @include tablet {
      font-size: 50px;
      padding: 0;
    }
    @include mobile {
      font-size: 24px;
    }
  }

  .left-chevron {
    left: 10px;
  }

  .right-chevron {
    right: 10px;
  }

  .index-indicator {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: $text-second-color;
    font-size: 18px;

    @include tablet {
      display: none;
    }
  }
}
