@import "./variables";
@import "./mixins";

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-size: 18px;
  min-height: 100vh;
}

.page-container {
  padding-left: 100px;
  padding-right: 100px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  flex: 1 0 auto;

  @include mobile-and-tablet {
    padding-left: 20px;
    padding-right: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
