/* Couleurs */
$primary-color: #ff6060;
$secondary-color: #000000;
$background-color: #ffffff;
$background-second-color: #f6f6f6;
$text-color: #000000;
$text-second-color: #ffffff;

/* Polices */
$font-family: "Montserrat", Arial, sans-serif;

/* Marges */
$margin-side: 100px;
